template(name="sales")
   .app-header
      span.caption Bán hàng <small>(#{currentCaption})</small>
   .app-editor
      +iSelect(options=productSelectOptions width='250px' class="field")
      +iSelect(options=sellerSelectOptions width='160px' resultHeight='70px' class="field")
      +iSelect(options=customerSelectOptions width='160px' resultHeight='70px' class="field")

   //+reactiveTable(collection=orderDetails)
   .app-content
      +iGrid(options=saleDetailOptions)
   .app-status
      +iTab(options=tabOptions)