template(name="sales")
   .app-header
      span.caption Bán hàng
   .app-editor
      .row
         .col.col-md-2
           span.ilabel sản phẩm
           +iSelect(options=productSelectOptions class="field")
         .col.col-auto(style="width: 100px")
           span.ilabel.center số lượng
           +iSpinEdit(options=qualityOptions)
         .col.col-auto(style="width: 150px")
           span.ilabel giá bán
           +iSpinEdit(options=priceOptions)
         .col.col-auto(style="width: 150px")
           span.ilabel.center giảm giá
           +iSpinEdit(options=discountCashOptions)
         .col.col-auto(style="width:100px")
           span.ilabel.center giảm %
           +iSpinEdit(options=discountPercentOptions)
         .col.col-auto(style="width: 150px")
           span.ilabel giá tổng
           input.quality(value="#{currentFinalPrice}" disabled)
         .col.col-auto(style="width:100px")
           button.btn.btn-default.addOrderDetail(type='submit') Add
         .col.col-auto(style="width:100px")
           button.btn.btn-default.addOrderDetail(type='submit') Add

   .app-content
     +iGrid(options=saleDetailOptions)

   .app-summary(style="height: 80px")
     .row
        .col.col-md-2.pull-right(style="width: 200px; margin-right: 5px;")
          span.ilabel.right nhân viên
          +iSelect(options=sellerSelectOptions class="field")
        .col.col-md-2.pull-right(style="width: 180px")
          span.ilabel.right khách hàng
          +iSelect(options=customerSelectOptions class="field")
        .col.col-auto.pull-right(style="width: 120px")
          span.ilabel thanh toán
          +iSelect(options=paymentMethodSelectOption class="field")
        .col.col-auto.pull-right(style="width: 120px")
          span.ilabel phương thức
          +iSelect(options=deliveryTypeSelectOption class="field")


     //+iSelect(options=deliveryTypeSelectOption width='160px' class="field")
     button.btn.btn-default.finish(type='submit') Hoan Tat
   .app-status
     +iTab(options=tabOptions)
