template(name="sales")
   .app-header
      span.caption Bán hàng <small>(#{currentCaption})</small>
   .app-editor
      .row
         .col.col-md-2
           span.ilabel sản phẩm
           +iSelect(options=productSelectOptions class="field")
         .col.col-auto(style="width: 100px")
           span.ilabel.center số lượng
           +iSpinEdit(options=qualityOptions)
         .col.col-auto(style="width:150px")
           span.ilabel giá bán
           +iSpinEdit(options=priceOptions)
         .col.col-auto(style="width:150px")
           span.ilabel.center giảm giá
           +iSpinEdit(options=discountCashOptions)
         .col.col-auto(style="width: 100px")
           span.ilabel.center giảm %
           +iSpinEdit(options=discountPercentOptions)
         .col.col-auto(style="width:150px")
           span.ilabel giá tổng
           input.quality(value="#{currentTotal}" disabled)

   .app-content
     +iGrid(options=saleDetailOptions)
   .app-summary(style="height: 80px")
     .row
        .col.col-md-2
          +iSelect(options=sellerSelectOptions width='200px' resultHeight='70px' class="field")
        .col.col-md-2
          +iSelect(options=customerSelectOptions width='160px' resultHeight='70px' class="field")
        .col.col-md-2
          +iSelect(options=paymentMethodSelectOption width='160px' resultHeight='70px' class="field")


     //+iSelect(options=deliveryTypeSelectOption width='160px' resultHeight='70px' class="field")
     button.btn.btn-default.finish(type='submit') Hoan Tat
   .app-status
     +iTab(options=tabOptions)
