template(name="sales")
   .app-header
      span.caption Bán hàng <small>(#{currentCaption})</small>
   .app-editor
      .product-select2.field(style="width: 250px;")
      //+iSelect(options=productSelectOptions width='250px')
      .seller-select2(style="width: 200px;")
      .buyer-select2(style="width: 200px;")
      input(style="float: left" type="text" value="#{firstName}")
      |#{fullName}
   //+reactiveTable(collection=orderDetails)
   .app-status
      +iTab(options=tabOptions)