template(name="sales")
   .app-header
      span.caption Bán hàng <small>(#{currentCaption})</small>
   .app-editor
      .irow
         +iSelect(options=productSelectOptions width='250px' class="field")
         input.quality(placeholder='So Luong' value="#{currentOrderDetail.quality}"
          data-toggle="tooltip" data-placement="left" title="Tooltip on left")
         input.price(placeholder='Gia Tien' value="#{currentOrderDetail.price}"
          data-toggle="tooltip" data-placement="right" title="Tooltip on right")
         input.discountCash(placeholder='Giam Gia' value="#{currentOrderDetail.discountCash}")
         input.discountCash(placeholder='Giam Gia %' value="#{currentOrderDetail.discountPercent}")
         input.discountCash(placeholder='Tam Tinh' value="#{currentOrderDetail.totalPrice}")
         input.discountCash(placeholder='Tong Tien' value="#{currentOrderDetail.finalPrice}")
         button.btn.btn-default.addOrderDetail(type='submit') Add
      .irow
         +iSelect(options=sellerSelectOptions width='160px' resultHeight='70px' class="field")
         +iSelect(options=customerSelectOptions width='160px' resultHeight='70px' class="field")


   //+reactiveTable(collection=orderDetails)
   .app-content
      +iGrid(options=saleDetailOptions)
   .app-status
      +iTab(options=tabOptions)