template(name="importProductThumbnail")
  .col
    .thumbnails(class="#{styles}")
      .left-caption {{expire}}
      .right-caption {{name}}
      .avatar(style="background-image: url('images/missing.jpg')")
      .short-desc.quality {{pad importQuality}}
      .full-desc.price {{formatNumber totalPrice}} <small>VNĐ</small>
      .single-price {{formatNumber importPrice}} VNĐ
      .full-desc.trash: a(href="#"): i.fa.fa-trash-o

  //.tile.double.pumpkin(class="#{sizeClass}")
  //  | #{name}  - Quality: #{importQuality} - Price: #{importPrice}

