template(name="delivery")
  #header
    .caption-row: .title Giao Hàng
    .editor-row
      .editor-wrapper(style="width: 200px")
        span.ilabel chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .editor-wrapper(style="width: 200px")
        span.ilabel kho
        +iSelect(options=warehouseSelectOptions class="field")
      .editor-wrapper(style="width: 250px")
        span.ilabel bộ lọc
        +iSelect(options=filterDeliverySelectOption class="field")
      //.editor-wrapper.pull-right(style="width: 150px")
      //  span.ilabel vai trò
      //  +iSelect(options=filterDeliverySelectOption class="field")
  #content
    +iGrid(options=deliveryDetailOptions)
