template(name="import")
  .app-header
    span.caption Nhập Kho
  .app-editor
     .row
        .col.col-md-1: +iSelect(options=warehouseSelectOptions width='150px' resultHeight='70px' class="field")
        .col.col-md-2: input.description(placeholder='Mô Tả' type="text" data-toggle="tooltip" title="số lượng")
        .col.col-md-2: button.btn.btn-default.addImport(type='submit') Tạo Phiếu Nhập
     .row
        .col.col-md-2: +iSelect(options=productSelectOptions class="field")


  //+reactiveTable(collection=orderDetails)
  .app-content
    //+iGrid(options=saleDetailOptions)

  .app-status
    +iTab(options=tabOptions)