template(name="import")
  .app-header
    span.caption Nhập Kho (#{description})
  .app-editor
      .row
         .col.col-md-2
           span.ilabel sản phẩm
           +iSelect(options=productSelectOptions class="field")
         .col.col-md-2
           span.ilabel nhà sản xuất
           +iSelect(options=providerSelectOptions class="field")
         .col.col-auto(style="width:130px")
           span.ilabel số lượng
           +iSpinEdit(options=qualityOptions class="field")
         .col.col-auto(style="width:170px")
           span.ilabel giá nhập
           +iSpinEdit(options=importPriceOptions class="field")
         .col.col-auto(style="width:100px")
           button.btn.btn-default.addImportDetail(type='submit') Add

  .app-content
    +iGrid(options=importDetailOptions)
  .app-summary(style="height: 80px")
    button.btn.btn-default.finishImport(type='submit') Hoan Tat
  .app-status
    +iTab(options=tabOptions)