template(name="export")
  #header
    .caption-row: .title CHUYỂN KHO
    .editor-row
      //.editor-wrapper(style="width: 250px")
      //  span.ilabel sản phẩm
      //  +iSelect(options=productSelectOptions class="field")
      //.editor-wrapper(style="width: 100px")
      //  span.ilabel.center số lượng
      //  +iSpinEdit(options=qualityOptions)
      //.editor-wrapper(style="width: 150px")
      //  span.ilabel.center giá bán
      //  +iSpinEdit(options=priceOptions)
      //.editor-wrapper(style="width:100px")
      //  button.btn.btn-default.addOrderDetail(type='submit') THÊM
      //
      //.editor-wrapper.right(style="width: 150px")
      //  span.ilabel.optional giá tổng
      //  input.quality(value="{{formatNumber currentFinalPrice}}" disabled)
      //.editor-wrapper.right(style="width: 150px")
      //  span.ilabel.center.optional giảm giá
      //  +iSpinEdit(options=discountCashOptions)
      //.editor-wrapper.right(style="width:100px")
      //  span.ilabel.center.optional giảm %
      //  +iSpinEdit(options=discountPercentOptions)

  #content
    +iGrid(options=saleDetailOptions)

  #footer
    .editor-row
      .editor-wrapper(style="width: 200px")
        span.ilabel chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .editor-wrapper(style="width: 200px")
        span.ilabel kho
        +iSelect(options=warehouseSelectOptions class="field")
    .editor-row
      .editor-wrapper(style="width: 200px")
        span.ilabel chi nhánh
        +iSelect(options=merchantSelectOptions class="field")
      .editor-wrapper(style="width: 200px")
        span.ilabel kho
        +iSelect(options=warehouseSelectOptions class="field")

    .editor-row.extra(name='export')

    //+iTab(options=tabOptions)



